In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.DataFrame([[np.nan,2,np.nan,0],[3,4,np.nan,1],[np.nan,np.nan,np.nan,1],[np.nan,3,np.nan,4]],columns = list('ABCD'))

In [4]:
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  1
3  NaN  3.0 NaN  4

In [5]:
df.fillna(0)

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  1
3  0.0  3.0  0.0  4

In [6]:
df.fillna(method = 'ffill')

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  3.0  4.0 NaN  1
3  3.0  3.0 NaN  4

In [7]:
values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
df.fillna(value=values)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  1
3  0.0  3.0  2.0  4

In [8]:
df.fillna(value=values, limit=1)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  NaN  1
2  NaN  1.0  NaN  1
3  NaN  3.0  NaN  4

In [9]:
from sklearn.preprocessing import Imputer

In [10]:
imputer = Imputer(missing_values = 'NaN',strategy = 'mean',axis = 0)
imputer = imputer.fit(df)
imputer.transform(df)

array([[ 3.,  2.,  0.],
       [ 3.,  4.,  1.],
       [ 3.,  3.,  1.],
       [ 3.,  3.,  4.]])

In [11]:
imputer?